a {
  text-decoration: underline !important;
}

.rti--container {
  display: flex;
  flex-direction: column;
  gap: 4px !important;
}

.rti--container > input {
  padding: 10px;
  border: 1px solid rgb(226, 232, 240) !important;
  border-radius: 7px !important;
  width: 300px !important;
}

.rti--tag {
  padding: 10px !important;
  border: 1px solid rgb(226, 232, 240) !important;
  border-radius: 7px !important;
  background-color: rgb(226, 232, 240) !important;
}
